---
layout: archive
title: ""
permalink: /research/
author_profile: true
---
<h2> Fundraising Outcomes and Donation Behavior </h2> 


Job Market Paper <br> <a href="https://raw.githubusercontent.com/abhirish/abhirish.github.io/master/_pages/draft_fundraising_failure.pdf" target="_blank"> Download here </a><br>
with <a href="http://www.annatuchman.com/"> Anna Tuchman </a>, <a href="https://faculty.chicagobooth.edu/pradeep-chintagunta?_gl=1*dvd85g*_ga*MTIwMjc5NzU4OS4xNjkxMDA2NTQ4*_ga_PDRJWHFTEV*MTY5MTEwNTU2MS41LjAuMTY5MTEwNTU2MS42MC4wLjA.&_ga=2.142157425.252512798.1691006548-1202797589.1691006548"> Pradeep Chintagunta </a>

<p>Some donation platforms aim to raise funds for causes with a specified target amount (the goal) and a deadline. 
  In such situations, it is possible that a cause is not fully funded, with the platform sometimes diverting the funds to a different cause rather than returning it to the donors.
  Donors’ future participation on such a platform is, therefore, contingent on the outcome of the fundraisers they participate in and how 
  the platform deals with the fundraiser outcome. Theories in social exchange predict that a donor would reduce future participation in the event of 
  a failure; conversely, warm glow would predict no change in future participation. In this paper, we investigate the impact of fundraising experiences 
  on donors’ future giving on such a platform. To this end, we use donor- and cause-level data from one of the largest donation platforms and leverage a 
  shock to the platform that exogenously shifted a donor’s propensity to experience a fundraising failure to document that if a donor’s first 
  fundraising experience is a failure (with the money diverted to a different cause), then they are 32.8% more likely to not contribute 
  in the future (i.e., “churn”). Further, conditional on donating in the future, they reduce their donation amount by 61.9%. To 
  understand the mechanism underlying our findings, we conducted a survey on MTurk and find that donors only blame the platform 
  (supporting the expectation disconfirmation theory) and not themselves or other donors for the failed fundraiser. 
  To obtain further substantive implications of our results, we formulate a structural model of a donor’s decision journey and use the estimates
  of the model to examine the efficacy of various churn-reducing tactics. 
  We find a 2.5% increase in retention(translates to an extra $ 2.1M in donations) by using a ranking algorithm for first-time 
  donors that orders projects by their success probabilities.</p>


<h2> When more is not merrier? The case of subscription-based donations </h2>
(Under Review at JMR)<br> <a href="http://docs.google.com/gview?url=https://raw.githubusercontent.com/abhirish/abhirish.github.io/master/_pages/donation_subscription_Abhishek_Rishabh.pdf" download> Download here </a><br>
with Pradeep Chintagunta, Madhu Viswanthan 

<p>Subscription-based donations are becoming a popular fundraising tool as they are perceived to yield a high donor lifetime value. 
  A common practice of online donation platforms is to provide information on a cause’s donor group size as a tool to attract more and retain current donors. 
  We use data from a subscription-based donation platform to study the effect of providing information on donor group size on the retention of current donors. 
  We use a) repeat donations of individual donors and b) an exogenous shock to the platform that shifts the donor group size to identify its impact. We find that higher donor group size encourages churn. 
  In addition, we provide suggestive evidence that the donor group size information can attract new donors. 
  Taken together, we suggest that managers exercise caution when providing information on the size of the donor base, as the net effect on subscriptions can vary with the "life cycle" of the charity’s donors. </p>
  

<h2> Regulatory Warnings and Endorsement Disclosures (winner of Ernst & Young 2020 grant)</h2>
with Manish Gangwar

<p>Social media platforms such as Instagram have become essential channels for influencer marketing. 
  Regulatory bodies such as FTC (in the US) and ASA (in the UK) require influencers on these platforms to declare an advertised social media post as an ad using hashtags such as #ad, and #sponsored. 
  However, often influencers fail to disclose the endorsements. To discourage these unprofessional practices, FTC sent warning notices to 90 influencers in March 2017.
  We use the variation in the implications of this event, based on influencer location, to identify and estimate the impact of FTC notices on a) influencers’ disclosure levels and b) follower engagement. 
  We curated a novel dataset that consists of nearly 150,000 Instagram posts over six years period. As expected, we find that advertising disclosures increased for the influencers who received the notice, and their follower engagement (likes and comments) 
  was adversely affected. Furthermore, we estimated the deterrence effect of FTC notices on other influencers. We find significant spillover effects on other influencers in the FTC jurisdiction. Specifically, the disclosure percentage of the influencers who did not receive notice also increased compared to the control group. 
  Our findings provide valuable insights to regulators and social media managers on the direct and deterrence effects of regulator notices. </p>

<h2>Retail spillovers due to short-term rentals</h2>
with Pradeep Chintagunta, Andre Bonfrer

<h2>Value of rarity in NFT digital art: Evidence from Art Burning</h2>
<h2>Beyond lower delinquency: Social impact of group loans (winner of NSE-India 2022 grant)</h2>
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
