---
layout: archive
title: ""
permalink: /research/
author_profile: true
---
<h2><a href="/path/to/paper.pdf" download> Fundraising Outcomes and Donation Frictions </a></h2>
Job Market Paper

<p>Some donation platforms (DPs) aim to raise funds for causes with a specified target amount (the goal) and a deadline. In such situations, it is possible that a cause is not fully funded, with the DP sometimes diverting the funds to a different cause rather than returning it to the donors. Donors’ future participation on such a DP is therefore contingent on the outcome of the fundraisers they participate in and how the DP deals with the fundraiser outcome.
Theories in social exchange predict that a donor would reduce future participation in the event of a failure; conversely, commitment inertia would predict no change in future participation. 
In this paper, we investigate the impact of fundraising experiences on donors’ future giving on such a DP. To this end, we use donor and cause-level data from one of the largest donation platforms and leverage an exogenous 
shock to the platform to document that if a donor’s first fundraising experience is a failure (with the money diverted to a different cause), then they are 32.8% more likely to not contribute in the future (i.e., “churn”). 
Further, conditional on donating in the future, they reduce their donation amount by 62%.To understand the mechanism underlying our findings, we conducted a survey on MTurk and found that donors only blame the platform 
and not themselves or other donors for the failed fundraiser. To obtain further substantive implications of our results, we formulate a structural model of a donor’s decision journey and use the estimates of the model 
to examine the efficacy of various churn-reducing tactics. We find a 2.5% increase in retention by using a segment choice architecture, which translates to an extra $2.1M in donations. </p>


<h2><a href="/path/to/paper.pdf" download> When more is not merrier? The case of subscription-based donations</a></h2>
with Pradeep Chintagunta, Madhu Viswanthan 

<p>Subscription-based donations are becoming a popular fundraising tool as they are perceived to yield a high donor lifetime value. A common practice of online donation platforms is to display, for each cause (e.g., cancer treatment or education provision), the donor group size (number of people donating to that cause). We use data from a subscription-based donation platform catering to a large number of causes to study the effect of displaying donor group size on new donors and current donors. 
We use a) repeat donations of individual donors and b) an exogenous shock to the platform that differentially shifts the donor group sizes for various causes to identify its impact on new and repeat donors. 
We find that displaying the number of donors can act as a double-edged sword — encouraging new donors (a "bandwagon" effect) while discouraging existing donors (a "bystander" effect) from subscribing. 
We suggest that managers be careful about displaying the number of donors as the net effect on subscriptions can vary with the "life cycle" of the charity and its donors. 
Specifically, managers can leverage this information when new donors signup but should not disclose this information to current and active donors. </p>

<h2> Regulatory Warnings and Endorsement Disclosuress</h2>

<p>Social media platforms such as Instagram have become essential channels for influencer marketing. 
  Regulatory bodies such as FTC (in the US) and ASA (in the UK) require influencers on these platforms to declare an advertised social media post as an ad using hashtags such as #ad, #sponsored. 
  However, often influencers fail to disclose the endorsements. To discourage these unprofessional practices, FTC sent warning notices to 90 influencers in March 2017.
  We use the variation in the implications of this event, based on influencer location, to identify and estimate the impact of FTC notices on a) influencers’ disclosure levels and b) follower engagement. 
  We curated a novel dataset that consists of nearly 150,000 Instagram posts over 6 years period. As expected, we find that advertising disclosures increased for the influencers who received the notice, and their follower engagement (likes and comments) was ad- versely affected. Furthermore, we estimated the deterrence effect of FTC notices on other influencers. We find significant spillover effects on other influencers in the FTC jurisdiction. Specifically, the disclo- sure percentage of the influencers who did not receive notice also increased compared to the control group. 
  Our findings provide valuable insights to regulators and social media managers on the direct and deterrence effects of regulator notices. </p>

<h2>Retail spillovers due to short-term rentals</h2>
with Pradeep Chintagunta, Andre Bonfrer

<h2>Value of rarity in NFT digital art: Evidence from Art Burning</h2>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
